<app-navbar></app-navbar>

      <br>
      <br>
      <br>
      <div class="padre">
        <div class="hijo">
          <button><a routerLink="/searchs/Alimentos">Alimentos</a></button>
<button><a routerLink="/searchs/Vehiculos" target="_blank">Vehiculos</a></button>
<button><a routerLink="/searchs/Casas">Casas</a></button>
<button><a routerLink="/searchs/Salud">Salud e higiene</a></button>
<button><a routerLink="/searchs/Tecnologia">Tecnologia</a></button>
<button><a routerLink="/searchs/Ropa">Ropa</a></button>
<button><a routerLink="/searchs/Juguetes">Juguetes</a></button>
<button><a routerLink="/searchs/Servicios">Servicios</a></button>
<button><a routerLink="/searchs/Otros">Otros</a></button>
        </div>

      </div>


    



      


<div *ngFor="let producto of productos" class="grid">
  <div class="list-item">
    <div class="product">
      <img src="{{producto.img}}" width="200" height="150" />
      <b>
        <h6>{{producto.name}}</h6>
      </b>
      <h6>{{producto.description}}</h6>
      <p>💲 {{producto.price}} pesos</p>
      <a routerLink="/product/{{producto.id}}">➡</a>
    </div>
  </div>
</div>